SESSION_SECRET={{_cookie_session_secret_}}
JWT_SECRET_KEY={{_jwt_secret_}}
DB_URI={{_db_connection_}}
API_PORT={{_api_port_}}


BUCKET_AWS=XXXXXXX
KEY_ID_AWS=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SECRET_KEY_AWS=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_REGION=XXXXXXXX

URL_SERVER='mongodb://localhost:27017/trescomasfiles'