SESSION_SECRET={{_cookie_session_secret_}}
JWT_SECRET_KEY={{_jwt_secret_}}
API_PORT={{_api_port_}}
DIALECT_DB={{_dialect_db_}}
HOST_DB={{_host_db_}}


BUCKET_AWS=XXXXXXX
KEY_ID_AWS=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SECRET_KEY_AWS=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_REGION=XXXXXXXX

URL_SERVER='mongodb://localhost:27017/trescomasfiles'